@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

body {
    font-family: "Cabin", sans-serif;
}

header {
    display: flex;
    font-size: 1rem;
}

.logo p {
    font-family: "Birthstone";
    font-size: 3rem;
}

h1 {
    font-size: 4rem;
}

.navbar ul {
    display: flex;
}

ul {
    list-style-type:none;
}

img {
    width: 100px;
}

footer {
    text-align: center;
}

@media screen and (width < 600px) {
    .navbar {
        display:none;
    }
}