@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

body {
    font-family: "Cabin", sans-serif;
}

header {
    font-size: 1rem;
    color: white;
    background-color: #2A52BE;
    height: 10vh;
}

.logo p {
    font-family: "Birthstone";
    font-size: 3rem;
    padding-left: 15px;
}

.hero {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    font-size: 4rem;
    background-color: #E97451;
    color: white;
    padding: 20px;
    grid-column: span 2;
}

.hero img {
    border: 2px solid black;
    margin: 40px auto;
    width: 40vw;
}

.subtitle {
    font-size: 3.5rem;
    padding: 20px;
}


ul {
    list-style-type:none;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cards div {
    margin: 10px;
}

.card h2 {
    font-size: 2.5rem;
    padding: .5rem;
}

.card p {
    font-size: 1.5rem;
    padding: .5rem;
}

.cards img {
    width: 100%;
}

.experience {
    margin: 10vh auto;
}

.experience h2 {
    font-size: 3.5rem;
    background-color: #E97451;
    color: white;
    padding: 20px;
    margin-bottom: 50px;
}

.experience li {
    margin: 20px auto;
    font-family: "Birthstone";
    font-size: 3rem;
}

footer {
    text-align: center;
}